.section {
  background: #ffffff;
  color: #333;
  height: 750px;
}

.section-home {
  height: 750px;
  background:
    linear-gradient(
      180deg,
      rgba(238, 174, 202, 0.4) 0%,
      rgba(245, 61, 61, 0.5) 0%
    ),
    url('https://images.unsplash.com/photo-1503455637927-730bce8583c0?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-title {
  color: #f2f2f2;
  font-size: 60pt;
  font-family: 'Roboto', sans-serif;
}

.home-subtitle {
  color: #f2f2f2;
  font-size: 30pt;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 670px) {
  .home-title {
    color: #f2f2f2;
    font-size: 30pt;
    font-family: 'Roboto', sans-serif;
  }
  
  .home-subtitle {
    color: #f2f2f2;
    font-size: 15pt;
    font-family: 'Roboto', sans-serif;
  } 
}

.section-alt {
  background: #f5f5f5;
  color: #333;
  height: 750px;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

@media screen and (min-width: 0px) {
  .nav {
    background-color: #f9505e;
    top: 0px;
    position: fixed;
    padding: 0.5rem;
    width: 100%;
    min-height: calc(1rem + 1rem);
    z-index: 1000;
    border-bottom: 3px solid #f2f2f2;
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.3);
  }

  .nav-item {
    padding: 0.5rem;
    color: #f2f2f2;
    display: block;
    float: left;

  }

  .nav-item:hover {
    color: #333;
    cursor: pointer;
  }

  .button {
    padding: 10px 20px;
    background:transparent;
    color:#fff;
    border: 2px solid white;
    font-size: 17px;
    border-radius: 0px;
    transition: all .3s ease;
  }

  .button:hover {
    background: white;
    color: black; 
    cursor: pointer;
  }
}